.order-summary {
  margin-top: 80px;
  margin-left: 20px;
  line-height: 35px;
  text-align: center;
  font-size: 22px;
}

.h3-ordersummary {
  font-size: 26px;
  text-decoration: underline;
}

.name-input, .drinks-summary {
  font-weight: bold;
}
