<div class="container">
  <question-header-component></question-header-component>

  <question-component ng-repeat="kerdes in $ctrl.kerdesek"
                      class="q-and-a"
                      q-kerdes="kerdes"></question-component>

<!--  <quiz-actions></quiz-actions>-->
  <button ng-if="$ctrl.gameOn" ng-click="$ctrl.onSubmit()" class="submit-button">submit</button>
  <div ng-if="!$ctrl.gameOn" class="result">{{$ctrl.correct}} correct </div>
  <button ng-if="!$ctrl.gameOn" ng-click="$ctrl.onStart()" class="retake">retake the quiz</button>

</div>
