<div class="container">

  <start-component
    b-select-topic="$ctrl.onTopicSelectorDropdown(topic)"
    b-selected-topic="$ctrl.selectedTopic"
    b-status="$ctrl.status"></start-component>

  <question-header-component ng-if="$ctrl.status === 'inGame'"></question-header-component>

  <question-component ng-repeat="kerdes in $ctrl.getTopic()"
                      ng-if="$ctrl.status === 'inGame'"
                      q-kerdes="kerdes"></question-component>

  <quiz-actions-component
    b-status="$ctrl.status"
    ng-if="$ctrl.status === 'inGame' || $ctrl.status === 'theEnd'"
    b-on-submit="$ctrl.onSubmit()"
    b-on-start="$ctrl.onStart()">
  </quiz-actions-component>

  <quiz-result-component b-status="$ctrl.status"
                         b-correct="$ctrl.correct"></quiz-result-component>

</div>
