h2 {
  color: pink;
  margin-top: 40px;
  font-size: 32px;
}

.container {
  text-align: center;
}

.q-and-a {
  border: 1px solid darkslateblue;
  text-align: left;
  padding: 10px;
  font-size: 26px;
  margin-top: 20px;
}

.result {
  margin-top: 40px;
  font-size: 25px;
  color: darkslateblue;
}
