<div>
  <div class="row margin-bottom margin-top">
    <div class="col">
      <button class="btn btn-primary"
              ng-click="$ctrl.createUser()"
              ng-disabled="$ctrl.createUserDisabled">Create user
      </button>
      <button class="btn btn-primary"
              ng-click="$ctrl.pingUsers()">Ping users
      </button>
    </div>
  </div>

  <div class="row margin-bottom margin-top">
    <div class="col">
      <!-- Selected users -->
      <span ng-repeat="selectedUser in $ctrl.selectedUsers"
            class="badge badge-info">{{selectedUser.name}}</span>
    </div>
  </div>

  <user-creator ng-if="$ctrl.isUserCreating" on-save="$ctrl.saveUser()" new-user="$ctrl.newUser"></user-creator>
</div>
