h2 {
  color: black;
}

label {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 20px;
}

select, input {
  margin-left: 20px;
  width: 300px;
}

.next-btn, .submit-btn {
  margin-left: 20px;
  margin-top: 20px;
  background-color: gainsboro;
  width: 150px;
  height: 35px;
  font-size: 20px;
}

.required {
  margin-left: 20px;
  margin-top: 30px;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}
