h2 {
  color: black;
}

label {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-size: 20px;
}

select, input {
  margin-left: 20px;
  width: 300px;
}

.next-btn {
  margin-left: 20px;
  background-color: gainsboro;
}
