.cards {
  position: absolute;
  top: 40%;
  display: flex;
  left: 30%;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 40%;
  width: 100%;
}

button-game-a-component, button-game-b-component {
  height: 140px;
  line-height: 140px;
  flex-basis: 140px;
  text-align: center;
  margin-bottom: 20px;
}
