.card {
  line-height: 140px;
  border: 2px solid black;
  text-align: center;
  font-size: 40px;
  max-width: 300px;
}

button-game-button-options-component {
  height: 140px;
  line-height: 140px;
  flex-basis: 140px;
  text-align: center;
  margin-bottom: 20px;
}
