.card {
  line-height: 60px;
  border: 2px solid #3066BE;
  text-align: center;
  font-size: 40px;
  max-width: 300px;
}

button-game-button-options-component {
  height: 140px;
  flex-basis: 140px;
}
