<div class="q-and-a">
<div>{{$ctrl.qKerdes.kerdes}}</div>


  <div class="options">
    <label>
      <input type="radio" ng-model="kerdes.selected" value="1">
      {{ $ctrl.qKerdes.opcio1 }}
    </label>


    <div class="option">
      <label>
        <input type="radio" ng-model="kerdes.selected" value="2">
        {{ $ctrl.qKerdes.opcio2 }}
      </label>
    </div>

    <div class="option">
      <label>
        <input type="radio" ng-model="kerdes.selected" value="3">
        {{ $ctrl.qKerdes.opcio3 }}
      </label>
    </div>

  </div>
</div>

