h2 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.add-drink-btn {
  height: 40px;
  width: 150px;
}

.submit-order-btn {
  height: 40px;
  width: 150px;
  background-color: gainsboro;
  margin-left: 20px;
}

.table {
  margin-left: 20px;
  width: 1000px;
}
