h2 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.add-drink-btn {
  height: 40px;
  width: 150px;
}

.submit-order-btn {
  height: 40px;
  width: 150px;
  background-color: gainsboro;
  margin-left: 20px;
  font-size: 22px;
}

.table {
  margin-left: 20px;
  width: 1000px;
}

thead {
  font-weight: bold;
}

.btn-outline-primary, .btn-outline-danger {
  width: 50px;
  height: 50px;
  padding-top: 0px;
  border: none;
}

.fas {
  font-size: 22px;
  margin-top: 5px;
}

td, th {
  font-size: 22px;
}

.error-message {
  margin-left: 20px;
  color: hotpink;
  font-weight: bold;
}
