.buttons {
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-a, .btn-b, .btn-c {
  width: 70px;
  height: 70px;
  font-size: 24px;
  margin-left: 20px;
}
